html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    line-height: 1.4;
  }
  
.content {
    margin: 40px;
}
  
.content p {
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(256,256,256,0.5);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}
.back-anim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .shape {
    position: absolute;
    opacity: 0.6;
  /*   animation-duration: 25s; */
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  .shape::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 100%;
    height: 100%;
    border: solid 1px grey;
  }
  .s1 {
    width: 100px;
    height: 100px;
  /*   top: -110px; */
    top: 110px;
    left: 20%;
    background: #f22613;
    animation-name: moving_s1;
  /*   animation-delay: 1s; */
  }
  .s2 {
    width: 50px;
    height: 50px;
    top: 60%;
  /*   left: -60px; */
    left: 60px;
    background: #04d99d;
    animation-name: moving_s2;
  /*   animation-delay: 4s; */
    animation-delay: 2s;
  /*   animation-direction: alternate-reverse; */
  }
  .s3 {
    width: 75px;
    height: 75px;
    top: 30%;
  /*   right: -85px; */
    right: 85px;
    background: #b4b8bf;
    animation-name: moving_s3;
  /*   animation-delay: 10s; */
    animation-delay: 3s;
  }